<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>À propos - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels."/>
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="css/showcase.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="icon" type="image/png" href="img/tasso_favicon.png">
  <% include ../../public/templates/script-links-showcase.html %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
  <script src="//code.tidio.co/ll6lr9ooths8g9hdxyozmwnknhnzu2l5.js"></script>
</head>
<body>
  <div class="wrapper" style="padding-bottom: 20px;">
    <% include ../../public/templates/menu.ejs %>
    <% include ../../public/templates/responsive-menu-showcase.ejs %>

    <section class="col-md-12">
      <div class="container">
        <div class="col-md-12" align="center" style="margin-top: 100px;">
          <h1 style="font-size: 26px;">La livraison urbaine réinventée</h1>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img class="img-fluid d-block mb-4 w-100 img_delivery_area" src="../img/showcase/delivery_zone.png" alt="zone de livraison">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-12">
      <div class="container" style="padding-top: 50px;">
        <h1 style="font-size: 26px;"><span class="custom_blue_underline">L'av</span>enture Tasso</h1>
        <div class="col-md-12">
          <p style="text-align: justify; width: 90%; margin: 0 auto;">
            En 2016, après une expérience frustrante pour livrer un colis sur Bordeaux dans la journée à cause d’une offre limitée, d’un service décevant et hors de prix, Alexandre Costa, le futur co-fondateur de Tasso, posa quelques questions à son frère (futur co-fondateur) Arnaud Costa :<br /><br />

            Pourquoi est-ce si difficile d’organiser une livraison locale dans la journée  ?<br />
            Est-ce que la livraison urbaine pourrait être abordable et non hors de prix ?<br />
            Et si la livraison de proximité pouvait être simple, fiable et sécurisée ?<br />
            Et si un service de livraison me faisait gagner du temps ?<br /><br />

            La réponse à chacune de ces questions était Tasso.<br /><br />

            Plusieurs mois après cette première discussion ;<br /><br />

            Aujourd’hui, fort d’une équipe de 5 personnes et hébergé dans les locaux d’AEC dans la capitale girondine, nous nous posons tous les jours ces questions et nous nous efforçons d’y répondre concrétement dans notre service de livraison urbaine instantanée.<br /><br />

            Nous avons créé un service de livraison de proximité, adapté à l’environnement de nos villes multi-centenaires, pour permettre aux professionnels et aux entreprises de gagner du temps et d’économiser de l’argent, et aux commerçants d’accroitre leur zone de chalandise et d’augmenter leurs ventes. Nos livreurs se chargent d’acheminer à la place de nos clients tous leurs envois : colis, plis, documents, vêtements, cadeaux, bouquets de fleurs, magazines ou tout (hors alimentaire) ce qui peut être transporté dans un sac-à-dos imperméable de 39L. (en d’autres termes, rendre la livraison urbaine aussi rapide et intuitive que possible pour nos quotidiens surchargés).<br /><br />

            Parfois, se poser des questions suffit pour faire changer les choses.<br /><br />

            Nous espérons qu’importe ce qui vous amène ici aujourd’hui, que vous soyez un cabinet d’experts-comptables ne voulant plus perdre de temps à amener des registres d’AG au greffe (histoire vraie), une agence de communication voulant lancer un produit de manière originale, une commerçante cherchant à se démarquer de ses concurrents ou encore un fils voulant envoyer un cadeau de dernière minute à sa mère, que Tasso saura être la solution à vos besoins de livraisons.
          </p>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 70px;">
          <div class="col-md-1 col-sm-1 col-xs-2" style="padding-right: 10px;">
            <img src="../img/showcase/book.svg" alt="book_icon"/>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-10">
            <p style="font-size: 14px; font-family: 'SourceSansPro-italic';">Mais pourquoi ce nom ? Tasso est le nom d’une famille italienne<br /> du XIIIe siècle à l’origine du premier service de livraison privé au monde.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-12 col-sm-12">
      <div class="container">
        <div class="row" style="margin-top: 100px;">
          <div class="col-md-7 col-sm-6" style="padding-bottom: 70px;">
            <img class="img-fluid d-block mb-4 w-100 map" src="../img/showcase/map.svg" width="500px" height="500px" />
          </div>
          <div class="col-md-5 col-sm-6 align_right">
            <h1 class="no_margin" style="font-size: 25px; margin-bottom: 10px;">Aujourd’hui à Bordeaux,<br />
              demain ailleurs en Eur<span class="custom_blue_underline">ope</span></h1>
              <p style="text-align: justify;">En ce début de siècle, dans un monde ultra-connecté, nous sommes habitués à ce que les informations circulent rapidement. Mais, parallèlement, le service postal à lui très peu gagné en efficacité et rapidité. Ce qui créé une fracture, en terme d’attentes, entre envoi numérique et envoi physique.<br /><br />
                Tasso a pour ambition de remédier à cela, en appliquant les mêmes exigences de rapidité et de facilité d’utilisation pour l’expédition d’un colis que l’envoi d’un document par courriel.<br /><br />
                Notre service coursier se limite à l’envoi d’un colis à l’intérieur d’une même métropole.</p>
                <div class="col-md-12 no_padding" align="left" style="text-align: justify;">
                  <p style="font-family: 'SourceSansPro-semiBold'">Disponible sur Bordeaux métropole</p>
                  <p style="font-family: 'SourceSansPro-italic'"><img src="../img/showcase/waiting_check.svg" alt="check_icon" style="padding-right: 10px;"/>Prochainement disponible sur Paris</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <% include footer.ejs %>
    </body>
    </html>
