<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accueil - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels."/>
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="../script/showcase/OwlCarousel/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../script/showcase/OwlCarousel/dist/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/showcase.css"/>
  <link rel="icon" type="image/ico" href="img/favicon.ico">
  <% include ../../public/templates/script-links-showcase.html %>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
  <script src="//code.tidio.co/ll6lr9ooths8g9hdxyozmwnknhnzu2l5.js"></script>
</head>
<body>
  <div class="windshield">
    <div class="windshield_pattern"></div>
  </div>

  <div class="wrapper">
    <% include ../../public/templates/menu.ejs %>
    <% include ../../public/templates/responsive-menu-showcase.ejs %>

    <section class="col-md-12">
      <div class="container">
      <div class="intro col-md-12">
        <h1 style="font-size: 26px;">La livraison urbaine instantanée dès 5€.</br>
          Livrez rapidement et gagnez du temps.</h1>
          <h2 style="font-size: 17px;">Découvrez un service de livraison à la demande : fiable, rapide et sécurisé,</br>
            à destination des professionnels et des entreprises.</h2>
            <a href="./registration"><button class="btn blue_button" type="button" name="button">Inscription</button></a>
          </div>
        </div>
        </section>
        <section class="col-md-12 tasso_presentation">
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-6 align_left">
                <h2 style="font-size: 25px;"><span class="custom_blue_underline">Voi</span>ci Tasso</h2>
                <p style="font-size: 16px;">Le service de livraison digital et sécurisé pour les<br /> professionnels, les entreprises et les commerçants,<br /> qui va vous faire gagner du temps et de l’argent.</p>
                <a class="blue_link" style="font-size: 13px;" href="#user_review">DÉCOUVREZ LES TÉMOIGNAGES DE NOS CLIENTS > </a>
              </div>
              <div class="col-md-5 col-sm-6" align="right">
                <img class="img-fluid d-block w-100 img_presentation" src="../img/showcase/tasso_presentation_1.png" width="400px" height="350px;" />
              </div>
            </div>
            <div class="row" style="margin-top: 100px;">
              <div class="col-md-5 col-sm-6">
                <img class="img-fluid d-block mb-4 w-100 img_presentation" src="../img/showcase/tasso_presentation_2.png" width="400px" height="350px" />
              </div>
              <div class="col-md-7 col-sm-6 align_right">
                <h2 class="no_margin" style="font-size: 25px; margin-bottom: 10px;">Nos engageme<span class="custom_blue_underline">nts</span></h2>
                <p class="engagement_presentation" style="font-size: 16px;">La livraison ultra-rapide n’est pas synonyme de mauvaise qualité, au contraire, la confidentialité de vos documents et leur sécurité nous sont primordiales. Tous vos envois sont assurés par notre partenaire assureur AXA, à hauteur de 2500€.</p>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12 ecologic_part">
                <p><img src="../img/showcase/ecologic_logo.svg" alt="ecologic_logo" style="padding-right: 15px; padding-bottom: 10px;"/>Parce que nous aimons notre planète, nous effectuons toutes nos livraisons à vélo ou en scooter électrique.</p>
              </div>
            </div>
          </br>
          <div class="row col-md-12 col-sm-12 tasso_resume">
            <div class="col-md-4 col-sm-4 col-xs-12 no_padding custom_col ">
              <h2 style="font-size: 20px;"><img class="icon_padding" src="../img/showcase/envoie_icon.svg" alt="Type d'envoi"/>Envoi</h2>
              <p style="font-size: 16px;">
                - plis <br />
                - documents <br />
                - colis <br />
                ou tout objet de 10kg max.

              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 no_padding custom_col ">
              <h2 style="font-size: 20px;"><img class="icon_padding" src="../img/showcase/rapidite_icon.svg" alt="Rapidité d'envoi"/>Rapidité</h2>
              <p style="font-size: 16px;">
                Livraison en 30 minutes, <br />
                après réception du colis. <br />
                Du lundi au vendredi de 9h à 20h.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 no_padding custom_col ">
              <h2 style="font-size: 20px;"><img class="icon_padding" src="../img/showcase/securite_icon.svg" alt="Sécurité de l'envoi"/>Sécurité</h2>
              <p style="font-size: 16px;">
                - suivi de la course <br />
                - notification de livraison <br />
                - dépôt contre signature <br />
                - remise sécurisée <br />
                - enveloppes opaques <br />
                - envois assurés par AXA
              </p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 no_padding">
              <a class="blue_link" style="font-size: 13px; padding-bottom: 10px;" href="../tarifs#delivery_specification">VOIR LES TAILLES ET VOLUMES MAXIMUMS  >  </a>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-12 order_steps">
        <div class="container" style="transform: skewY(5deg); margin-left: 5%; margin-top: 15px;">
          <h1>Organiser une expédition n'aura jamais été aussi simple</h1>
          <div class="row col-md-12 col-sm-12">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 style="font-size: 36px;"><span class="custom_blue_underline">&nbsp;&nbsp;1&nbsp;&nbsp;</span></h2>
              <div class="col-md-12 col-sm-12 col-xs-12 step_img" align="center">
                <img src="../img/showcase/bell_icon.svg" alt="Type d'envoi" width="50px;" height="50px;"/>
              </div>
              <p style="font-size: 16px;">
                <span style="color: #0D97FF; font-weight: bold;">Commandez une course depuis votre compte client</span>,
                renseignez les adresses de collecte et de livraison.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 style="font-size: 36px;"><span class="custom_blue_underline">&nbsp;&nbsp;2&nbsp;&nbsp;</span></h2>
              <div class="col-md-12 col-sm-12 col-xs-12 step_img" align="center">
                <img src="../img/showcase/package_icon.svg" alt="Rapidité d'envoi" width="50px;" height="50px;"/>
              </div>
              <p style="font-size: 16px;">
                <span style="color: #0D97FF; font-weight: bold;">Un coursier vient récupérer le colis</span>,
                suivez son approche en direct. La livraison s’effectuera en 30 minutes.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 style="font-size: 36px;"><span class="custom_blue_underline">&nbsp;&nbsp;3&nbsp;&nbsp;</span></h2>
              <div class="col-md-12 col-sm-12 col-xs-12 step_img" align="center">
                <img src="../img/showcase/courier_icon.svg" alt="Sécurité de l'envoi" width="50px;" height="50px;"/>
              </div>
              <p style="font-size: 16px;">
                <span style="color: #0D97FF; font-weight: bold;">Le coursier livre le colis à destination</span>,
                aussitôt vous recevrez une confirmation de livraison.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-12" style="margin-bottom: 100px; margin-top: 20px;">
        <div class="container">
          <div class="col-md-12" align="center">
            <h1 style="font-size: 25px;">Nous vous livrons, quelqu<span class="custom_blue_underline">e soi</span>t votre domaine d’activité</h1>
            <h2 style="font-size: 18px;">Au delà du gain de temps et de la livraison express, Tasso est le partenaire idéal pour créer de nouveaux services et accroitre vos ventes.</h2>
          </div>
          <div class="tab-content">
            <div id="entreprise" class="tab-pane fade in active col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                <a class="prev"><i class="fa fa-angle-left fa-5x" aria-hidden="true"></i></a>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-12">
                <img class="img-fluid d-block w-100 carousel_img" src="../img/showcase/carousel_entreprise.jpg" alt="Image entreprise"/>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-12">
                <h2>Professionnels et entreprises</h2>
                <p style="font-size: 15px;">- envoyez des documents au greffe<br />
                  - transférez des classeurs à une autre agence<br />
                  - livrez ou récupérez des documents chez un client<br />
                  - portage express : journalistes, bloggers<br /><br />

                  Ne perdez plus de temps à livrer vos envois vous-même.
                  Avec la livraison express démarquez vous de vos concurrents et faites croitre vos ventes en proposant à vos clients la livraison en 30 min.</p>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                  <a class="next"><i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></a>
                </div>
              </div>
              <div id="commerce" class="tab-pane fade col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                  <a class="prev"><i class="fa fa-angle-left fa-5x" aria-hidden="true"></i></a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <img class="img-fluid d-block w-100 carousel_img" src="../img/showcase/carousel_commerce.jpg" alt="Image commerçant"/>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <h2>Commerçants</h2>
                  <p style="font-size: 15px;">- attirez de nouveaux clients<br />
                    - fidélisez vos clients avec un service haut de gamme<br />
                    - démarquez-vous et développez vos ventes<br />
                    - facilitez les retours en magasin<br /><br />

                    La livraison express est aujourd’hui très demandée par les consommateurs.
                    Proposez de livrer vos clients en 30 min et regagnez en compétitivité face aux sites marchands.</p>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                    <a class="next"><i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div id="particuliers" class="tab-pane fade col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                    <a class="prev"><i class="fa fa-angle-left fa-5x" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <img class="img-fluid d-block w-100 carousel_img" src="../img/showcase/carousel_particulier.jpg" alt="Image particulier"/>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <h2>Particuliers</h2>
                    <p style="font-size: 15px;">- envoyez des colis, plis ou cadeaux<br />
                      - faites vous livrer vos commerçants préférés<br />
                      - récupérez vos objets oubliés sans perdre de temps<br />
                      - faites des envois de dernière minute<br /><br />

                      Ne perdez plus de temps et concentrez-vous sur ce qui compte vraiment pour vous.
                      On s’occupe de livrer vos envois en 30 min et bientôt sur rendez-vous.</p>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 chevron">
                      <a class="next"><i class="fa fa-angle-right fa-5x" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 carousel_nav" style="margin-top: 50px;">
                  <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#entreprise">Professionnels et entreprises</a></li>
                    <li><a data-toggle="tab" href="#commerce">Commerçants</a></li>
                    <li><a data-toggle="tab" href="#particuliers">Particuliers</a></li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="col-md-12 use_tasso">
              <div class="container">
                <h1>Pourquoi utiliser Tasso?</h1>
                <br />
                <div class="row col-md-12 col-sm-12">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/easy_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Facile</h2>
                    <p style="font-size: 14px;">Commandez en ligne ou sur mobile. L’adresse de collecte et de livraison vous suffiront pour lancer une course.
                    </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/secure_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Sécurisé et assuré</h2>
                    <p style="font-size: 14px;">Tous vos envois sont assurés à hauteur de 2500€ par notre partenaire assureur AXA. En cas de dommage, perte et vol.
                    </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/afford_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Abordable</h2>
                    <p style="font-size: 14px;">À partir de 5€ par course de 3,5km, puis 1€/km supplémentaire. Prix HT.
                    </p>
                  </div>
                </div>
                <div class="row col-md-12 col-sm-12">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/fast_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Rapidité</h2>
                    <p style="font-size: 14px;">
                      Livraison entre 30min et 1h.<br />
                      Alerte d’arrivée du coursier à l’adresse de collecte.
                    </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/arrange_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Horaires arrangeant</h2>
                    <p style="font-size: 14px;">Nous opérons de 9h à 20h du lundi au vendredi.
                    </p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="../img/showcase/ecolo_icon.svg" alt="Type d'envoi" width="100px;" height="100px;"/>
                    </div>
                    <h2 style="font-size: 18px;">Écologique</h2>
                    <p style="font-size: 14px;">Pour limiter l’impact de nos activités sur la planète, les livraisons s’effectuent à vélo ou en scooter électrique.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <section id="user_review" class="col-md-12 no_padding" style="margin-bottom: 100px; margin-top: 100px;">
              <h1>Ce qu'en pense nos clients</h1>
              <br />
              <div class="owl-carousel owl-theme">
                  <div class="item">
                    <p style="font-size: 14px; text-align: left; margin: 20px;">
                    « Site internet facile d’utilisation, création du compte simple & rapide, équipe réactive, compétente et disponible, respect du secret professionnel, protection des documents confidentiels, respect des délais, gain de productivité.<br /><br />
                    En résumé : efficacité & professionnalisme ! »
                  </p>
                  <img style="margin-left: 10%; position: fixed; bottom: 0; margin-bottom: 30px;" src="../img/showcase/companies/sagec.svg" alt="sagec_logo" height="50px;" width="100px;"/>
                </div>
                  <div class="item" style="padding-top: 20%;">
                    <p style="font-size: 14px; text-align: left; margin: 20px;">
                    « Très bon service, l’interface permettant les commandes est extrêmement claire et pratique. Les coursiers sont très réactifs et professionnels, permet un gain de temps énorme, je recommande fortement. »
                    </p>
                    <img style="margin-left: 10%; position: fixed; bottom: 0; margin-bottom: 30px;" src="../img/showcase/companies/mailboxes.svg" alt="sagec_logo" height="50px;" width="100px;"/>
                  </div>
                  <div class="item" style="padding-top: 30%;">
                    <p style="font-size: 14px; text-align: left; margin: 20px;">
                    « Site intuitif et minimaliste. Un service de coursier efficace ! »
                    </p>
                    <img style="margin-left: 10%; position: fixed; bottom: 0; margin-bottom: 30px;" src="../img/showcase/companies/fiduexperts.svg" alt="sagec_logo" height="50px;" width="100px;"/>
                  </div>
              </div>
            </section>
          </div>
          <script src="../script/showcase/OwlCarousel/dist/owl.carousel.min.js"></script>
          <script type="text/javascript">
          $('.next').click(function(){
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
          });
          $('.prev').click(function(){
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
          });

          var owl = $('.owl-carousel');
          owl.owlCarousel({
              loop:true,
              autoplay:true,
              autoplayTimeout:10000,
              margin:10,
              responsive:{
                  0:{
                      items:1
                  },
                  500:{
                      items:3
                  }
              }
          });
          owl.on('mousewheel', '.owl-stage', function (e) {
              if (e.deltaY>0) {
                  owl.trigger('next.owl');
              } else {
                  owl.trigger('prev.owl');
              }
              e.preventDefault();
          });
          </script>
          <% include footer.ejs %>
        </body>
        </html>
