<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Politique de confidentialité - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="css/showcase.css"/>
  <link rel="icon" type="image/png" href="img/tasso_favicon.png">
  <% include ../../public/templates/script-links-showcase.html %>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
</head>

<body>

  <div class="contact-windshield"></div>
  <% if (message.length > 0 && type == "success") { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% if (message.length > 0 && type == "error") { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <% if (message.length > 0 && type == "info") { %>
        <div class="alert alert-info"><%= message %></div>
        <% } %>
        <div class="wrapper"> <!-- START WRAPPER -->

          <% include ../../public/templates/menu.ejs %>
          <% include ../../public/templates/responsive-menu-showcase.ejs %>

          <section class="container-fluid formulaire-contact" >
            <div class="row div_contact_form"> <!-- ROW START -->
              <div class="col-sm-12 col-md-12">
                <h1>Politique modèle de confidentialité</>
                <h2 style="color: #0d97ff;">Introduction</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Devant le d&eacute;veloppement des nouveaux outils de communication, il est n&eacute;cessaire de porter une attention particuli&egrave;re &agrave; la protection de la vie priv&eacute;e.
                  C'est pourquoi, nous nous engageons &agrave; respecter la confidentialit&eacute; des renseignements personnels que nous collectons.</p>
                </p>

                <h2 style="color: #0d97ff;">Collecte des renseignements personnels</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Nous collectons les renseignements suivants :</br>
                  &emsp; &bull; Nom</br>
                  &emsp; &bull; Pr&eacute;nom</br>
                  &emsp; &bull; Adresse postale</br>
                  &emsp; &bull; Code postal</br>
                  &emsp; &bull; Adresse &eacute;lectronique</br>
                  &emsp; &bull; Num&eacute;ro de t&eacute;l&eacute;phone / t&eacute;l&eacute;copieur</br>
                  &emsp; &bull; Profession</br></br>

                  Les renseignements personnels que nous collectons sont recueillis au travers de formulaires et gr&acirc;ce &agrave; l'interactivit&eacute; &eacute;tablie entre vous et notre site Web.
                  Nous utilisons &eacute;galement, comme indiqu&eacute; dans la section suivante, des fichiers t&eacute;moins et/ou journaux pour r&eacute;unir des informations vous concernant.
                </p>
                <h2 style="color: #0d97ff;">Formulaires et interactivité:</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Vos renseignements personnels sont collect&eacute;s par le biais de formulaire, &agrave; savoir :</br>
                  &emsp; &bull; Formulaire d'inscription au site Web</br>
                  &emsp; &bull; Formulaire de commande</br></br>
                  Nous utilisons les renseignements ainsi collect&eacute;s pour les finalit&eacute;s suivantes :</br>
                  &emsp; &bull; Suivi de la commande</br>
                  &emsp; &bull; Informations / Offres promotionnelles</br>
                  &emsp; &bull; Statistiques</br>
                  &emsp; &bull; Contact</br>
                  &emsp; &bull; Gestion du site Web (pr&eacute;sentation, organisation)</br></br>
                  Vos renseignements sont &eacute;galement collect&eacute;s par le biais de l'interactivit&eacute; pouvant s'&eacute;tablir entre vous et notre site Web et ce, de la fa&ccedil;on suivante:</br>
                  &emsp; &bull; Statistiques</br>
                  &emsp; &bull; Contact</br>
                  &emsp; &bull; Gestion du site Web (pr&eacute;sentation, organisation)</br></br>
                  Nous utilisons les renseignements ainsi collect&eacute;s pour les finalit&eacute;s suivantes :<br />
                  &emsp; &bull; Commentaires</br>
                  &emsp; &bull; Correspondance</br>
                  &emsp; &bull; Informations ou pour des offres promotionnelles</br></br>
                </p>

                <h2 style="color: #0d97ff;">Droit d'opposition et de retrait</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Nous nous engageons &agrave; vous offrir un droit d'opposition et de retrait quant &agrave; vos renseignements personnels.
                  Le droit d'opposition s'entend comme &eacute;tant la possiblit&eacute; offerte aux internautes de refuser que leurs renseignements personnels soient utilis&eacute;es &agrave; certaines fins mentionn&eacute;es lors de la collecte.
                  Le droit de retrait s'entend comme &eacute;tant la possiblit&eacute; offerte aux internautes de demander &agrave; ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</br>
                  Pour pouvoir exercer ces droits, vous pouvez nous contacter via:<br/><br/>
                  &emsp; &bull; Voie postale : 1 rue Jean-Fran&ccedil;ois de Lap&eacute;rouse, Blanquefort 33290<br/>
                  &emsp; &bull; Courriel : a.costa@tassodelivery.com<br/>
                  &emsp; &bull; T&eacute;l&eacute;phone : 0659559391<br/>
                  &emsp; &bull; Section du site web : https://tassodelivery.com/contact<br/> </p>
                </p>
                <h2 style="color: #0d97ff;">Droit d'accès</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Nous nous engageons &agrave; reconna&icirc;tre un droit d'acc&egrave;s et de rectification aux personnes concern&eacute;es d&eacute;sireuses de consulter, modifier, voire radier les informations les concernant.<br />
                  L'exercice de ce droit se fera via:<br/><br/>
                  &emsp; &bull; Voie postale : 1 rue Jean-Fran&ccedil;ois de Lap&eacute;rouse, Blanquefort 33290<br/>
                  &emsp; &bull; Courriel : a.costa@tassodelivery.com<br/>
                  &emsp; &bull; T&eacute;l&eacute;phone : 0659559391<br/>
                  &emsp; &bull; Section du site web : https://tassodelivery.com/contact<br/>
                </p>
                <h2 style="color: #0d97ff;">Sécurité</h2>
                <p class="regular_dark_montSerra" style="font-size: 14px;">
                  Les renseignements personnels que nous collectons sont conserv&eacute;s dans un environnement s&eacute;curis&eacute;.
                  Les personnes travaillant pour nous sont tenues de respecter la confidentialit&eacute; de vos informations.
                  Pour assurer la s&eacute;curit&eacute; de vos renseignements personnels, nous avons recours aux mesures suivantes :</br>
                  &emsp; &bull; Protocole SSL (Secure Sockets Layer)</br>
                  &emsp; &bull; Gestion des acc&egrave;s - personne autoris&eacute;e</br>
                  &emsp; &bull; Gestion des acc&egrave;s - personne concern&eacute;e</br>
                  &emsp; &bull; Sauvegarde informatique</br>
                  &emsp; &bull; D&eacute;veloppement de certificat num&eacute;rique</br>
                  &emsp; &bull; Identifiant / mot de passe</br>
                  &emsp; &bull; Pare-feu (Firewalls)</br></br>
                  Nous nous engageons &agrave; maintenir un haut degr&eacute; de confidentialit&eacute; en int&eacute;grant les derni&egrave;res innovations technologiques permettant d'assurer la confidentialit&eacute; de vos transactions.
                  Toutefois, comme aucun m&eacute;canisme n'offre une s&eacute;curit&eacute; maximale, une part de risque est toujours pr&eacute;sente lorsque l'on utilise Internet pour transmettre des renseignements personnels.</p>
                </p>
              </div>
            </div> <!-- ROW END -->
          </section> <!-- FORMULAIRE CONTACT END -->
        </div> <!-- END WRAPPER -->
        <% include ../../public/templates/footer.ejs %>
      </body>
      </html>
