<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Villes - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels."/>
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="css/showcase.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="icon" type="image/png" href="img/tasso_favicon.png">
  <% include ../../public/templates/script-links-showcase.html %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
  <script src="//code.tidio.co/ll6lr9ooths8g9hdxyozmwnknhnzu2l5.js"></script>
</head>
<body>
  <div class="wrapper" style="padding-bottom: 20px;">
    <% include ../../public/templates/menu.ejs %>
    <% include ../../public/templates/responsive-menu-showcase.ejs %>

    <section class="col-md-12">
      <div class="container">
        <div class="intro_villes col-md-12">
          <h1 style="font-size: 26px;">Disponible sur Bordeaux<br /><span class="custom_blue_underline"> et sa </span> métropole</h1>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <img class="img-fluid d-block mb-4 w-100 img_delivery_area" src="../img/showcase/delivery_zone.png" alt="zone de livraison">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Bordeaux</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Le Bouscat</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Bruges</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Mérignac</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Talence</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Bègles</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Bordeaux Bastide</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Bacalan</p>
              <p><img src="../img/showcase/check.svg" alt="check_icon" style="padding-right: 15px;"/>Pessac</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 70px;">
          <div class="col-md-1 col-sm-1 col-xs-2">
            <img src="../img/showcase/cyclist.svg" alt="courier_atention"/>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-10">
            <p style="font-size: 14px;">Le service est seulement disponible pour les adresses comprises dans la zone bleue.<br />
              Nos livreurs opèrent exclusivement dans cette zone.</p>
            </div>
          </div>
        </dvi>
      </section>
      <section class="col-md-12" style="padding-top: 15px;">
        <div class="container">
        <div class="col-md-12">
          <div class="row" style="padding-top: 50px;">
            <div class="col-md-7 col-sm-7 align_left">
              <h1 style="font-size: 26px;"><span class="custom_blue_underline">Mon</span> secteur n’est pas desservi</h1>
              <p style="font-size: 16px; text-align: justify; width: 90%;">Nous travaillons tous les jours à accroitre le nombre de quartiers et villes desservies tout en respectant nos engagements de qualité et de sécurité.<br /><br />
                Dites-nous quel secteur vous aimeriez voir être desservi par Tasso ou inscrivez-vous à la newsletter.
              </p><br />
              <a href="./contact"><button class="btn blue_button" type="button" name="button">Contacter</button></a>
            </div>
            <div class="col-md-5 col-sm-5" align="center" style="padding-top: 50px;">
              <div class="col-md-12">
                <img class="img-fluid d-block w-100" src="../img/showcase/eiffel_tower.svg" width="150px" height="150px;" />
              </div>
              <div class="col-md-12">
                <p style="font-family: 'SourceSansPro-italic'"><img src="../img/showcase/waiting_check.svg" alt="check_icon" style="padding-right: 10px;"/>Prochainement disponible sur Paris</p>
              </div>
            </div>
          </div>
          </section>
        </div>
        <% include footer.ejs %>
      </body>
      </html>
