<nav class="responsive-menu">
  <ul>
    <li><a href="/admin/accueil">Accueil</a></li>
    <li><a href="/admin/registration/courier">Inscrire un nouveau coursier</a></li>
    <li><a href="/admin/stats">Statistiques</a></li>
    <li><a href="/admin/trackorder">Retracer une course</a></li>
    <li><a href="/admin/entreprise">Validation compte entreprise</a></li>
    <li><a href="/logout">Déconnexion</a></li>
  </ul>
</nav>

<button class="hamburger"><img width="23px" height="23px" src="../../img/menu/burger.svg"/></button>
<button class="cross"><img width="23px" height="23px" src="../../img/menu/cross.svg"/></button>
