<ul>
  <li><a href="/admin/accueil">Accueil</a></li>
  <li><a href="/admin/registration/courier">Inscrire un nouveau coursier</a></li>
  <li><a href="/admin/stats">Statistiques</a></li>
  <li><a href="/admin/trackorder">Retracer une course</a></li>
  <li><a href="/admin/entreprise">Validation compte entreprise</a></li>
</ul>
