<footer style="top: 780px;">
  <section class="footer-wrap">
    <div class="container-fluid">
      <p class="policies">©2017 Tasso SAS      <a target="_blank" href="./politique_confidentialite" class="policies-spacing">Politique de confidentialité</a>     <a target="_blank" href="./cgu">Conditions générales d’utilisation</a></p>
    </div> <!-- END CONTAINER-FLUID -->
  </section> <!-- END FOOTER-WRAP -->
</footer>
