<a href="./"><img src="img/tasso_logo.svg" height="35" width="135" alt="Tasso Logo" class="logo"></a>

<nav class="menu">
  <ul>
    <!--<li><a href="./tarifs">Tarifs</a></li>-->
    <li><a href="./villes">Villes</a></li>
    <li><a href="./about">À propos</a></li>
    <li><a href="./faq">FAQ</a></li>
  </ul>
</nav>
<nav class="dropdwn">
  <li >
    <a href="./login" class="connexion dropbtn">Connexion</a>
  </li>
</nav>
