<nav class="responsive-menu">
  <ul>
    <!--<li><a href="./tarifs">Tarifs</a></li>-->
    <li><a href="./villes">Villes</a></li>
    <li><a href="./about">À propos</a></li>
    <li><a href="./faq">FAQ</a></li>
    <li><a href="./login" class="connexion-responsive">Connexion</a></li>
  </ul>
</nav>

<button class="hamburger"><img width="23px" height="23px" src="img/menu/burger.svg"/></button>
<button class="cross"><img width="23px" height="23px" src="img/menu/cross.svg"/></button>
