<ul>
  <li><a class="nav-link" href="../accueil">Accueil</a></li>
  <li><a class="nav-link" href="../history">Mes commandes</a></li>
  <li><a class="nav-link" href="../wallet">Portemonnaie</a></li>
  <li><a class="nav-link" href="../entreprise">Compte société</a></li>
  <li><a class="hidden_link" href="../accueil"><button style="font-size: 13px" type="edit_button" id="command_button" class="btn blue_button">COMMANDER</button></a></li>
</ul>
