<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mon compte</title>
    <?php include 'bootstrap-links.php'; ?>
    <link rel="stylesheet" href="css/design2.css">
  </head>
  <body>

      <a href="template.php" class="account-nav-logo"><img src="img/logo_tasso.svg" alt="Tasso"></a>
      <nav class="top-nav">
        <?php include 'top-nav.php'; ?>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-sm-3 side-nav nav flex-column regular_dark_montSerra">
            <?php include 'side-nav.php'; ?>
          </nav>

          <section class="col-sm-9">
            <h1>Title</h1> <!-- OU section-nav -->
            <main class="row board">

              <nav>
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                  <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
                </ul>
              </nav>


              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <h3>Menu 2</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <h3>Menu 3</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>


            </main>
          </section>
        </div> <!-- END ROW -->
      </div> <!-- END CONTAINER-FLUID -->
  </body>
</html>
