.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
  padding: 5px;
}

.table-bordered>thead>tr>th {
  border-bottom-width: 1px;
}
.panel {
  padding: 0px;
  margin-right: 10px;
  border-radius: 5px;
}

.panel-default {
  border-color: #D8D8D8 ;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
