<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Conditions générales de vente - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="css/showcase.css"/>
  <link rel="icon" type="image/png" href="img/tasso_favicon.png">
  <% include ../../public/templates/script-links-showcase.html %>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
</head>
<body>

  <div class="contact-windshield"></div>

  <div class="wrapper"> <!-- START WRAPPER -->

    <% include ../../public/templates/menu.ejs %>
    <% include ../../public/templates/responsive-menu-showcase.ejs %>

    <% if (message.length > 0 && type == "success") { %>
      <div class="alert alert-success"><%= message %></div>
      <% } %>
      <% if (message.length > 0 && type == "error") { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <% if (message.length > 0 && type == "info") { %>
          <div class="alert alert-info"><%= message %></div>
          <% } %>
          <section class="container-fluid formulaire-contact">
            <div class="row div_contact_form"> <!-- ROW START -->

        <div class="col-sm-12 col-md-12">
          <h2>Mentions légales</h2>
          <p style="font-size: 14px; text-align: justify;">
            Le site internet accessible à l’adresse www.tassodelivery.com est édité par la société Tasso SA, société anonyme à conseil d’administration, au capital de 1000 EUR, dont le siège social est situé au 1 rue Jean-François de Lapérouse, 33290, Blanquefort et immatriculée au registre du commerce et des sociétés de Bordeaux sous le numéro 827 480 138.</br>

            Téléphone : 33(0)5 56 35 17 88</br>
            N° de TVA intracommunautaire : FR 33827480138</br>
            N° SIREN : 827 480 138</br>
            Directeur de la publication : Alexandre Costa</br>
            Courriel : contact@tassodelivery.com</br></br>

            Hébergement</br>
            Host Europe Group</br>
            Hansestraße 79</br>
            51149 Köln</br>
            ALLEMAGNE</br>
            Numéro de téléphone : +49 2203 9934 1040</br>
            Courriel : support@hosteurope.de</br>

            Courriel de signalement de contenus inappropriés ou illégaux : contact@tassodelivery.com</br>

            Tous les prix de ventes de nos services affichés sur le site sont HT.</br>

            Données personnelles</br>

            Conformément aux dispositions des articles 38, 39 et 40 de la loi n° 78-17 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux libertés, modifiée par la loi n°2004-81 du 6 août 2004, vous disposez d’un droit d’opposition, d’accès, de rectification et de suppression des données personnelles qui vous concernent. Ces droits peuvent être exercés en écrivant à l’adresse suivante : Tasso SAS – 1 rue Jean-François de Lapérouse, 33290, Blanquefort.</br>

            Propriété intellectuelle</br>

            L’ensemble des éléments constituant le site de la société Tasso SAS (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, noms, logos, marques, créations, plus généralement l’architecture du site, son mode opératoire, et œuvres protégées diverses, bases de données etc.), ainsi que le site lui-même sont protégés par des droits de propriété intellectuelle en application des législations tant françaises qu’étrangères et des conventions internationales. Ces éléments sont la propriété exclusive ou sont réservés à la société Tasso SAS. Tous droits de reproduction et de représentation de ceux-ci sont strictement réservés. Toute représentation ou reproduction intégrale ou partielle du site ou de l’un de ses éléments, par quelle que personne que ce soit, sans l’autorisation préalable et expresse de l’exploitant du site, est interdite et constituerait une contrefaçon sanctionnée. Il en est de même pour la traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un procédé quelconque (Article L 122-4.du Code de la Propriété Intellectuelle).
          </p>
        </div>


        <div class="col-sm-12 col-md-12">
          <h2>Conditions générales de vente</h2></br>
          <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d97ff">Article 1 - Intégralité</strong></br>
            Les présentes conditions générales expriment l'intégralité des obligations des parties. Elles constituent le socle unique de la relation commerciale entre les parties,
            et, en ce sens, l'acheteur est réputé les accepter sans réserve.
            Les présentes conditions générales de vente prévalent sur tout autre document, et notamment sur toutes conditions générales d'achat. Elles s'appliquent, sans restriction ni réserve, à tous les services rendus par le prestataire auprès des acheteurs de même catégorie.
            Le prestataire et l'acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation. Le prestataire se réserve le droit de modifier ponctuellement ses conditions générales.
            Elles seront applicables dès leur mise en ligne.
            Si une condition de prestation de services venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont siège en France.
            Les présentes conditions générales de vente sont communiquées à tout acheteur qui en fait la demande, afin de lui permettre de passer commande.
            Les présentes conditions générales de vente devront être acceptées par l’utilisateur lors de l’inscription, conformément aux conditions décrites ci-dessous. Toute évolution et modification de ces présentes conditions générales de vente seront implicitement acceptées.
            Les présentes conditions générales de vente sont applicables jusqu'au 01/07/2018.</p>

            <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 2 - Contenu</strong></br>
              Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne des prestations proposées par le prestataire à l'acheteur. Elles concernent les services suivants  : ventes de courses, ventes de forfaits Premium et Entreprise composés de 10 et 20 courses prépayées.</p>

              <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 3 - La commande</strong></br>
                L'acheteur passe sa commande en ligne, à partir de son espace personnel, accessible en se connectant à son compte personnel depuis le site internet tassodelivery.com, muni de son courriel et mot de passe.
                Pour que la commande de course soit validée, l'acheteur devra accepter les présentes conditions générales.
                Toute commande vaut acceptation des prix HT et descriptions des prestations proposées.
                Dans certains cas, notamment défaut de paiement, adresse erronée ou autre problème sur le compte de l'acheteur, le prestataire se réserve le droit de bloquer la commande de l'acheteur jusqu'à la résolution du problème.
                L’acheteur peut annuler et modifier la commande jusqu’au récapitulatif seulement avant la confirmation d’achat, une fois la course commandée et achetée, l’acheteur ne pourra plus annuler la course. Si celle-ci devait tout de même être annulée elle ne pourra être remboursée.
                L’acheteur peut à tout moment contacter le coursier via l’interface web de suivi de la course, accessible dans son espace personnel. L’acheteur peut dans ce même espace suivre en direct le déroulé de la course.
                Pour toute question relative au suivi d'une commande, l'acheteur doit appeler le 06 59 55 93 91 du Lundi au Vendredi de 9h à 20h (coût d'un appel local). </p>

                <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 3.5 - Le porte-monnaie</strong></br>
                  Le solde crédité sur le porte-monnaie ne peut ni être récupéré, ni remboursé. </p>

                <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 4 - Signature électronique</strong></br>
                  La fourniture en ligne des coordonnées bancaires de l'acheteur et la validation finale de la commande vaudront preuve de l'accord de l'acheteur et vaudront :
                  - exigibilité des sommes dues au titre du bon de commande; - signature et acception expresse de toutes les opérations effectuées.
                  En cas d'utilisation frauduleuse des coordonnées bancaires, l'acheteur est invité, dès le constat de cette utilisation, à contacter le 06 59 55 93 91 du Lundi au Vendredi de 9h à 20h (coût d'un appel local).</p>

                  <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 5 - Confirmation de commande</strong></br>
                    Les informations contractuelles feront l'objet d'une confirmation par envoi d’un courriel au plus tard au moment du début d'exécution des prestations,à l'adresse indiquée par l'acheteur au sein des informations de compte renseignées lors de l’inscription et modifiables dans l’espace personnel. </p>

                    <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 6 - Preuve de la transaction</strong></br>
                      Les registres informatisés, conservés dans les systèmes informatiques du prestataire Stripe® dans des conditions raisonnables de sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre les parties.L'archivage des bons de commande et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.</p>

                      <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 7 - Informations sur les prestations</strong></br>
                        Les prestations régies par les présentes conditions générales sont celles qui figurent sur le site internet du prestataire et qui sont indiquées comme réalisées par le prestataire ou sous son contrôle. Elles sont proposées dans la limite des disponibilités du prestataire. <br />
                        Les prestations sont décrites et présentées avec la plus grande exactitude possible. Toutefois si des erreurs ou omissions ont pu se produire quant à cette présentation, la responsabilité du prestataire ne pourrait être engagée.</p>

                        <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 8 - Prix </strong></p>

                        <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 8.1 Calcul </strong></br>

                          Sauf convention contraire, le prix des prestations est établi en fonction du type de course, des options de livraison, de la distance kilométrique et des forfaits.
                          La TVA au taux en vigueur s’ajoute à tous les prix affichés sur le site. Le prestataire s'engage à informer l'acheteur des retards et/ou problèmes dès qu'ils surviendront afin de pouvoir en évaluer les conséquences avec lui.
                          Des factures et des reçus seront émis correspondant aux prestations fournies et aux débours engagés par provision et au fur et à mesure de leur réalisation.
                          Sauf convention contraire, les factures sont émises après chaque achat de course et forfait. </p>

                          <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 8.2 Réduction de prix </strong></br>
                            L'acheteur bénéficie des remises et ristournes sur le coût unitaire d’une course figurant lors de l’achat d’un forfait Premium ou Entreprise.
                            Ces services sont non détachables des opérations d'achat et de vente, selon les modalités déterminées d'un commun accord entre les parties, lors de la négociation commerciale, en fonction de la nature et du volume des services rendus.</p>

                            <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 9 - Modalités et délais de paiements</strong></p>
                            <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 9.1 Règlement </strong></br>
                              Le règlement de la commande se fait uniquement par prélèvement sur le compte bancaire de l'acheteur. L'acheteur doit rentrer ses coordonnées bancaires à l'endroit prévu et confirmer cette saisie par l'ajout de ses coordonnées de carte bancaire. Le prestataire se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement de la part des organismes officiellement accrédités ou en cas de non-paiement. La commande est payable comptant, en amont de la fourniture des services commandés. Le prestataire se réserve notamment le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration. Le prestataire a mis en place une procédure de vérification des commandes destinée à assurer qu'aucune personne n'utilise les coordonnées bancaires d'une autre personne à son insu. Dans le cadre de cette vérification, il pourra être demandé à l'acheteur d'adresser, par fax ou par mail, au prestataire une copie d'une pièce d'identité ainsi qu'un justificatif de domicile. La commande ne sera alors validée qu'après réception et vérification par le prestataire des pièces envoyées.</p>

                              <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 9.2 Paiement à terme </strong></br>
                                Le prix est payable en totalité et en un seul versement immédiatement pour déclencher la commande d’un coursier.</p>

                                <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 10 - Disponibilité des produits</strong></br>
                                  Sauf en cas de force majeure ou lors des périodes de fermeture clairement annoncées sur la page d'accueil du site, les délais d'intervention seront,
                                  dans la limite des disponibilités du prestataire, ceux indiqués : du Lundi au Vendredi de 9h à 20h.<br />
                                  Les délais d'exécution courent à compter de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande. <br />
                                  Pour les prestations réalisées sur Bordeaux Métropole, le délai de livraison est de 1h à compter de la réception du colis par le coursier.<br />
                                  En cas de retard, la responsabilité du prestataire ne pourra être engagée, et ce, pour quelque cause que ce soit. Par conséquent, aucune demande d'indemnisation,
                                  de quelque nature que ce soit, ne pourra être réclamée par l'acheteur. <br />
                                  En cas d'indisponibilité du prestataire pour réaliser la prestation, l'acheteur en sera informé au plus tôt et aura la possibilité d'annuler sa commande.
                                  L'acheteur aura alors la possibilité de demander le remboursement des sommes versées dans les 30 jours au plus tard de leur versement.</p>

                                  <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 11 - Modalités de réalisation</strong></br>
                                    La réalisation n'est entamée qu'après confirmation du paiement par Stripe. Elle est fournie en quelques minutes à compter de la réception par le prestataire du bon de commande.<br />
                                    Tout retard supérieur de 1h pourra entraîner la résolution de la vente. Les acomptes éventuellement versés seront alors restitués à l'acheteur.
                                    En cas de non-respect des conditions de paiement figurant ci-dessus, le vendeur pourra annuler la prestation. <br />
                                    Dans le cas d'une réalisation physique, ajouter : <br />
                                    L'acheteur veillera à donner accès au coursier notamment s'il n'est pas personnellement présent le jour de la réalisation de la prestation. <br />
                                    La fin de la prestation donnera lieu soit à une notification de réception, soit à une preuve de signature dû à l’activation de l’option « Dépôt contre signature »,
                                    soit à une remise sécurisée du colis en main à la personne renseignée lors de la commande de la course dû à l’activation de l’option « Remise sécurisée ».<br />
                                    « Dépôt contre signature » : la course est considérée comme effectuée et terminée dès lors qu’une personne à destination habilitée à recevoir le colis,
                                    ou une personne autorisée par l’expéditeur, a signé le document de fin d'intervention. <br />
                                    « Remise sécurisée » : la course est considérée comme effectuée et terminée dès lors que la personne disposant du code à 6 chiffres, reçu par SMS,
                                    à destination le remet au coursier, signifiant la fin de l’intervention.</p>

                                    <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 12 - Obligations du prestataire</strong></br>
                                      Les engagements du prestataire constituent une obligation de moyens au terme de laquelle les prestations seront exécutées dans le strict respect des règles professionnelles en usage ainsi,
                                      le cas échéant, que conformément aux conditions du contrat. Pour ce faire, le prestataire affectera à l'exécution des prestations les professionnels dotés des compétences requises
                                      pour assurer leur réalisation conformément à ses standards de qualité.</p>


                                      <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 13 - Obligations de l’acheteur</strong></br>
                                        Afin de faciliter la bonne exécution des prestations, l'acheteur s'engage : <br />
                                        à fournir au prestataire des informations complètes, exactes et dans les délais nécessaires sans qu’il soit tenu d’en vérifier le caractère complet ou l'exactitude ; <br />
                                        à prendre les décisions dans les délais et d’obtenir les approbations hiérarchiques nécessaires;<br />
                                        à désigner un correspondant investi d’un pouvoir de décision; <br />
                                        à faire en sorte que les interlocuteurs clés et le correspondant soient disponibles tout au long de l’exécution des prestations; <br />
                                        à avertir directement le prestataire de toute difficulté éventuelle relative à l’exécution des prestations. <br />
                                        à s’assurer qu’il y ait une personne à destination pour signer l’accusé de réception dans le cadre de l’activation de l’option « Dépôt contre signature »<br />
                                        à s’assurer que la personne destinataire ayant reçu le SMS à 6 chiffres dans le cadre de l’activation de l’option « Remise sécurisée » soit présent à destination.</p>


                                        <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 14 - Informations confidentielles</strong></br>
                                          Chacune des parties s'engage à ne pas divulguer les informations confidentielles reçues de l'autre partie.
                                          Les informations confidentielles s'entendent des informations de toute nature, visuelles ou orales, sur quelque support que ce soit,
                                          relatives à la structure, l'organisation, les affaires, les politiques internes diverses, les projets et le personnel de chacune des parties.
                                          Ont également un caractère confidentiel, le contenu des prestations ainsi que les documents, colis et tout objet fourni au coursier au cours de l'exécution des prestations.</p>


                                          <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 15 - Responsabilité du prestataire</strong></br>
                                            L'entière responsabilité du prestataire et celle de ses collaborateurs relative à tout manquement, négligence ou faute, relevé à l'occasion de l'exécution des prestations,
                                            sera plafonné au montant des honoraires versés au titre des prestations mises en cause, afin de couvrir les réclamations de toute nature (intérêts et frais inclus),
                                            et ce, quel que soit le nombre d'actions, de fondements invoqués, ou de parties aux litiges. Cette stipulation ne s'appliquera pas à une responsabilité pour décès ou blessure corporelle,
                                            ni à toute autre responsabilité que la loi interdit d'exclure ou de limiter. <br />
                                            La responsabilité du prestataire ne peut être engagée qu'en cas de faute ou de négligence prouvée et est limitée aux préjudices directs à l'exclusion de tout préjudice indirect, de quelque nature que ce soit. <br />
                                            Par ailleurs, la responsabilité du prestataire ne pourra être engagée dans les cas suivants : <br />
                                            - suite à un manquement ou à une carence d’un produit ou d’un service dont la fourniture ou la livraison ne lui incombe pas ni à ses sous-traitants éventuels;
                                            - pour les faits et/ou données qui n’entrent pas dans le périmètre des prestations, et/ou qui n’en sont pas le prolongement;<br />
                                            Le prestataire ne répond ni de ses assureurs ni des dommages indirects, ni du manque à gagner ou de la perte de chance ou de bénéfices escomptés,
                                            ni des conséquences financières des actions éventuellement intentées par des tiers à l'encontre de l'acheteur.</p>

                                            <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 16 - Garantie</strong></br>
                                              Le prestataire garantit l'acheteur contre tout défaut de conformité des services et tout vice caché provenant d'un défaut de conception ou de fourniture desdits services à l'exclusion de toute négligence ou faute de l'acheteur. <br />
                                              En tout état de cause, au cas où la responsabilité du prestataire serait retenue, la garantie du prestataire serait limitée au montant HT payé par l'acheteur pour la fourniture des services.</p>

                                              <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 17 - Cessibilité et sous-traitance</strong></br>
                                                Le prestataire se réserve le droit de céder tout ou partie de l'exécution des prestations à des prestataires répondant aux mêmes exigences de qualification. <br />
                                                Si la prestation requiert des compétences techniques particulières, le prestataire informera l'acheteur sur la possibilité d'en sous-traiter une partie.
                                                Le sous-traitant interviendra alors sous la seule responsabilité du prestataire et s'engagera à conserver confidentielles toutes les informations dont il aura connaissance à l'occasion des prestations.</p>

                                                <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 18 - Réclamations</strong></br>
                                                  Toutes les réclamations, qu'elles soient amiables ou judiciaires, relatives à l'exécution des prestations devront être formulées dans un délai d'une année à compter de la fin de la réalisation de la prestation.</p>

                                                  <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 19 - Force majeure</strong></br>
                                                    Toutes circonstances indépendantes de la volonté des parties, empêchant l'exécution dans des conditions normales de leurs obligations, sont considérées comme des causes d'exonération des obligations des parties et entraînent leur suspension. <br />
                                                    La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur survenance, ainsi que de leur disparition. <br />
                                                    Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés par ces dernières, malgré tous les efforts raisonnablement possibles. De façon expresse, sont considérés comme cas de force majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux français : le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes, inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes aux clients. <br />
                                                    Les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie. Si le cas de force majeure a une durée supérieure à trois mois, les présentes conditions générales pourront être résiliées par la partie lésée.</p>

                                                    <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 20 - Non-validation partielle</strong></br>
                                                      Si une ou plusieurs stipulations des présentes conditions générales sont tenues pour non valides ou déclarées telles en application d'une loi,
                                                      d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.</p>

                                                      <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 21 - Litiges</strong></br>
                                                        En cas de recours à des institutions arbitrales établies de façon permanente, remplacer par :
                                                        Les différends ou litiges qui viendraient à se produire en suite ou à l'occasion du présent contrat seront résolus par voie d'arbitrage conformément au règlement du Centre de Médiation de Bordeaux,
                                                        auquel les parties déclarent adhérer.</p>

                                                        <p style="font-size: 14px; text-align: justify;"><strong style="color: #0d79ff" >Article 22 - Loi applicable</strong></br>
                                                          Les présentes conditions générales sont soumises à l'application du droit français. Elles sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues, seul le texte français ferait foi en cas de litige. <br />
                                                          Les parties s'engagent à rechercher une solution amiable à tout différend qui pourrait naître de la réalisation des prestations. Si elles n'y parviennent pas, les parties soumettront le litige au tribunal de commerce de Bordeaux.</p>
                                                        </div>
                                                      </div> <!-- ROW END -->
                                                    </section> <!-- FORMULAIRE CONTACT END -->
                                                  </div> <!-- END WRAPPER -->
                                                </body>
                                                <% include ../../public/templates/footer.ejs %>
                                                </html>
