<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tarifs - Tasso, livraison de proximité rapide et sécurisée</title>
  <meta name="description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h.">
  <meta property="og:description" content="Tasso : la livraison de proximité rapide et sécurisée, pour les professionnels et les entreprises. Envoyez des plis et petits objets à prix abordable en 1h."/>
  <meta property="title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:title" content="Tasso, service coursier digital pour professionnels." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.tassodelivery.com/img/tasso-delivery-europe.svg"/>
  <meta property="og:url" content="http://www.tassodelivery.com/"/>
  <% include ../../public/templates/bootstrap-css-links.html %>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="icon" type="image/png" href="img/tasso_favicon.png">
  <% include ../../public/templates/script-links-showcase.html %>
  <script type="text/javascript" src="../script/responsive-menu-script.js"></script>
  <script src="//code.tidio.co/ll6lr9ooths8g9hdxyozmwnknhnzu2l5.js"></script>
</head>

<body>

  <div class="tarifs-windshield"></div>

  <div class="wrapper"> <!-- START WRAPPER -->

    <% include ../../public/templates/menu.ejs %>
    <% include ../../public/templates/responsive-menu-showcase.ejs %>

    <div class="tarifs-intro">
      <h1>DES PRIX CLAIRS ET DÉGRESSIFS</h1>
      <h2>Des courses en toute transparence.</h2>
    </br>
  </br>
  <% if (message.length > 0 && type == "success") { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% if (message.length > 0 && type == "error") { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <% if (message.length > 0 && type == "info") { %>
        <div class="alert alert-info"><%= message %></div>
        <% } %>
  <a href="./registration"><button class="btn red_button" type="button" name="button">Inscription</button></a>
</div>

<section class="container-fluid tarif"> <!-- TARIFS SECTION START -->
  <div class="row margin_row_tarif"> <!-- ROW START -->
    <div class="col-xs-12 col-sm-11 tarifs">
      <h3>Nos tarifs (HT)</h3>
      <div class="table-responsive">
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th></th>
                      <th>5.00&euro;*</th>
                      <th>9.50&euro;*</th>
                      <th>11.50&euro;*</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Suivi course</td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                  </tr>
                  <tr>
                      <td>Notification de livraison</td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                  </tr>
                  <tr>
                      <td>Enveloppes opaques</td>
                      <td></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                  </tr>
                  <tr>
                      <td>Dépôt contre signature</td>
                      <td></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Remise sécurisée par code</td>
                      <td></td>
                      <td></td>
                      <td><img width="20px" height="20px" src="img/menu/cross.svg"/></td>
                  </tr>
              </tbody>
          </table>
      </div>
  <p align="left" class="regular_dark_montSerra" style="font-size: 16px; font-style: italic;">*Au delà de 3.5km, 1&euro; le km supplémentaire. Dans la limite de 8km.</p>
  </div> <!-- END ROW -->
</section> <!-- TARIFS SECTION END -->

<section class="container-fluid secteur"> <!-- SECTEUR START -->
  <h3>Secteurs desservis par Tasso à <span>Bordeaux</span></h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6 map-bordeaux">
      <img src="../img/showcase/maps-bordeaux.png" alt="Bordeaux, ville desservie par Tasso">
    </div>
    <div class="col-xs-12 col-sm-6 desserte-bordeaux">
      <h4>Zones desservies</h4>
      <ul>
        <li>Intérieur et pourtour des boulevards</li>
        <li>Bassins-à-Flot</li>
        <li>Ravezies</li>
        <li>Bordeaux Bastide</li>
        <li>Mérignac</li>
        <li>Talence</li>
        <li>Bègles</li>
        <li>Pessac</li>
      </ul>
    </div>
    <p class="col-xs-12 col-sm-12">Le service est seulement disponible pour les adresses comprises dans la zone bleue.<br>Les coursiers opèrent seulement dans cette zone.</p>
  </div>
</section> <!-- END SECTEUR -->

<section class="pas-desservi">
  <h3>Votre secteur n'est pas desservi?</h3>
  <p>Nous travaillons tous les jours à accroitre le nombre de quartiers et villes desservies tout en respectant nos engagements de qualité de service et de rapidité.
    <br>Dites-nous quel secteur vous aimeriez voir être desservi par Tasso ou inscrivez-vous à la newsletter. </p>
    <a href="./contact"><button type="button" name="button">CONTACTER</button></a>
  </section>

</div> <!-- END WRAPPER -->

<% include ../../public/templates/footer.ejs %>
</body>
</html>
